li
	| Books
	ul
		li
			a(href='/books/new') New Book
		li
			a(href='all_books.pug') List All
		li
			a(href='/books?filter=overdue') List Overdue
		li
			a(href='/books?filter=checked_out') List Checked Out
