h1 Library Manager
p Welcome to #{title}
ul
	li
		| Books
		ul
			li
				a(href='/library/new_book') New Book
			li
				a(href='/library/all_books') List All
			li
				a(href='books?filter=overdue') List Overdue
			li
				a(href='books?filter=checked_out') List Checked Out
	li
		| Patrons
		ul
			li
				a(href='/library/new_patron') New Patron
			li
				a(href='/library/all_patrons') List All
	li
		| Loans
		ul
			li
				a(href='/library/new_loan') New Loan
			li
				a(href='/library/all_loans') List All
			li
				a(href='/library/overdue_loans') List Overdue
			li
				a(href='/library/checked_loans') List Checked Out
