# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
npm-debug.log*
.eslintrc

# Project Files from Treehouse
/treehouseProjectFiles/**
/treehouseProjectFiles/README.md
/treehouseProjectFiles/library-manager-v1.zip
/treehouseProjectFiles/library.db

/Sequelize/*
/sqlRound2/*
myProjectOutline.md

library.db
