//- This pug template injects the validation errors into the /books/new_book page form.  It stops any blank fields from being submitted into the books table.

if(errors)
	h2.errors Ooops an error occured!
	ul.errors
		each error in errors
			li
				=error.message
