//- This error template injects a 404 Not Found error message into any page that a user attempts to load which does not exist.
extends layout

block content
	h1= message
	h2= error.status
	h3= 'The Page You\'re looking for is not here.'
	//- pre #{error.stack}
