doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	include partials/nav.pug
	// Put the below partials into a 'home' route, so they only show when route matches 'localhost:4040/'.
	include partials/home
	block content
