doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include partials/nav.pug
		h1 Library Manager
		p Welcome to Library Manager
		ul
			include partials/books.pug
			include partials/patrons.pug
			include partials/loans.pug
