doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		include partials/nav.pug
		h1 Library Manager
		p Welcome to #{title}
		ul
			// Put the below partials into a 'home' route, so they only show when route matches 'localhost:4040/'.
			include partials/books.pug
			include partials/patrons.pug
			include partials/loans.pug
			block content
