extends index

block content
	h1= title
	
	include errors
	
	form(action='/loans/new_loan', method='post')
		p
			label(for='book_id') Book ID
			select#book_id(name='book_id')
				if loans
					each loan, index in loans
						//- TODO: currently this displays data from all books w/ loans.  Needs to display data from ONLY books that are available to be checked out.  Same for the Patron select below.
						//- if loans[index].dataValues.loan.dataValues.loaned_on !== checkedOut
						option(name='book_id') #{loans[index].dataValues.book.dataValues.title}
				//- option(value='2') Harry Potter and the Chamber of Secrets
				//- option(value='3') Harry Potter and the Prisoner of Azkaban
				//- option(value='4') Harry Potter and the Goblet of Fire
				//- option(value='5') Harry Potter and the Order of the Phoenix
				//- option(value='6') Harry Potter and the Half-Blood Prince
				//- option(value='7') Harry Potter and the Deathly Hallows
				//- option(value='8') A Brief History of Time
				//- option(value='9') The Universe in a Nutshell
				//- option(value='10') Frankenstein
				//- option(value='11') The Martian
				//- option(value='12') Ready Player One
				//- option(value='13') Armada
				//- option(value='14') Pride and Prejudice
				//- option(value='15') Emma
		p
			label(for='patronId') Patron ID
			select#patron_id
				if loans
					each loan, index in loans
						option(name='patron_id') #{loans[index].dataValues.patron.dataValues.first_name} #{loans[index].dataValues.patron.dataValues.last_name}
				//- option(value='2') Dave McFarland
				//- option(value='3') Alena Holligan
				//- option(value='4') Michael Poley
		p
			label(for='loaned_on') Loaned on:
			input#loaned_on(type='text', name='loaned_on', value= today)
		p
			label(for='return_by') Return by:
			input#return_by(type='text', name='return_by', value= returnBy)
		p
			input(type='submit', value='Create New Loan')
